<ng-container *ngIf="1 == 1">
<mat-list dense>
  <reservation-component class="card-item" *ngFor="let reservationRecord of reservationRecords" [reservationRecord]="reservationRecord"
                         (confirmEvent) = "confirm()"></reservation-component>
</mat-list>
</ng-container>
<!-- <mat-list dense>
  <mat-list-item *ngFor="let reservationRecord of reservationRecords"
  (confirmEvent) = "confirm()">
     <p mat-line>{{ reservationRecord.createdBy.firstName }} {{ reservationRecord.createdBy.lastName }}</p>
     <p mat-line>Court {{ reservationRecord.court }}</p>
     <p mat-line>{{reservationRecord.start | date:'shortDate'}}, {{reservationRecord.start | date:'shortTime'}} - {{reservationRecord.end | date: 'shortTime'}}</p>     
     
  <div class="menu">
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Delete or edit">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item *ngIf="isAdmin" (click)="confirm(reservationRecord)">
        <mat-icon>done</mat-icon>
        <span>Confirm</span>
      </button>
      <button mat-menu-item *ngIf="isAdmin" (click)="unconfirm(reservationRecord)">
        <mat-icon>highlight_off</mat-icon>
        <span>Unconfirm</span>
      </button>
      <button mat-menu-item *ngIf="isAdmin" (click)="deleteAdmin(reservationRecord)">
        <mat-icon>delete</mat-icon>
        <span>Delete</span>
      </button>
      <button mat-menu-item *ngIf="isMember" (click)="delete(reservationRecord)">
        <mat-icon>delete</mat-icon>
        <span>Delete</span>
      </button>
    </mat-menu>
  </div>
     <mat-divider [inset]="true" ></mat-divider>
  </mat-list-item>
</mat-list> -->

<!-- <div class="grid-container">
  <p>{{ reservationRecord.createdBy.firstName }} {{ reservationRecord.createdBy.lastName }}</p>
  <p>Court {{ reservationRecord.court }}</p>
  <p>Start: {{reservationRecord.start | date:'medium'}}</p>
  <p>End: {{reservationRecord.end | date: 'medium'}}</p>
</div> -->


<!-- <div class="pa-record-container">

  <reservation-component class="card-item" *ngFor="let reservationRecord of reservationRecords" [reservationRecord]="reservationRecord"
                         (confirmEvent) = "confirm()"></reservation-component> -->

  <!--<div *ngFor="let parecord of parecords">{{parecord}}</div>-->


<!-- </div> -->


<!--
<div class="fab-container">
  <button mat-flat-button color="primary"  matTooltip="Add new class" (click)="createPARecord()">
    <i class="material-icons">add</i>
  </button>
</div> -->
