<mat-toolbar>
  <button mat-button routerLink="/">Home</button>
  <button (click) = "adminClick()" mat-button [routerLink]="['/admin']" *ngIf="isAdmin">Admin</button>
  <button (click) = "myReservationsClick()" mat-button [routerLink]="['/myReservations']" *ngIf="isLoggedIn">My Reservations</button>
  <button mat-button (click)="login()" *ngIf="showLogin">Login/Register</button>
  <button mat-button (click)="logout()" *ngIf="showLogout">Logout</button>
</mat-toolbar>



<router-outlet></router-outlet>

