<mat-list-item>
   <p mat-line>{{ reservationRecord.createdBy.firstName }} {{ reservationRecord.createdBy.lastName }}</p>
   <p mat-line>Court {{ reservationRecord.court }}</p>
   <p mat-line>{{reservationRecord.start | date:'shortDate'}}, {{reservationRecord.start | date:'shortTime'}} - {{reservationRecord.end | date: 'shortTime'}}</p>     
   
  <div class="menu">
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Delete or edit">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item *ngIf="isAdmin" (click)="confirm(reservationRecord)">
        <mat-icon>done</mat-icon>
        <span>Confirm</span>
      </button>
      <button mat-menu-item *ngIf="isAdmin" (click)="unconfirm(reservationRecord)">
        <mat-icon>highlight_off</mat-icon>
        <span>Unconfirm</span>
      </button>
      <button mat-menu-item *ngIf="isAdmin" (click)="deleteAdmin(reservationRecord)">
        <mat-icon>delete</mat-icon>
        <span>Delete</span>
      </button>
      <button mat-menu-item *ngIf="isMember" (click)="delete(reservationRecord)">
        <mat-icon>delete</mat-icon>
        <span>Delete</span>
      </button>
    </mat-menu>
  </div>
    <mat-divider [inset]="" ></mat-divider>
</mat-list-item>